<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Follow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Follow.Properties.Settings>
            <setting name="SqServerConString" serializeAs="String">
                <value>Server=DESKTOP-2B87UHT\MSSQLSERVER2019;Database=FollowDataBase;Trusted_Connection=True;TrustServerCertificate=True;</value>
            </setting>
            <setting name="HideNotification" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DataGridViewRowNumber" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyLogo" serializeAs="String">
                <value />
            </setting>
            <setting name="Server" serializeAs="String">
                <value>DESKTOP-2B87UHT\MSSQLSERVER2019</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>FollowDataBase</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Userlogin" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="outfollow" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="prison" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="breakfollow" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>Tamer rabee</value>
            </setting>
        </Follow.Properties.Settings>
    </userSettings>
</configuration>